.container {
    background-color: rgb(255, 255, 255);
    padding: 10px 0;
  }
  
  .marker {
    width: 200px;
    height: 25px;
    margin: 10px auto;
  }
  

  /*GRADIENTES DE COLOR
    linear-gradient(gradientDirection, color1, color2, etc): 
        gradientDirection: establece la direccion del gradiente. Unidades en deg. Ej: 90deg (horizontal)
        color: puede ser rgb(), hex, hsl. Si se le agrega un porcentaje/cantidad de px al lado indica la parada del color.
            ej: linear-gradient(90deg,rgb(255,0,0) 50%, rgb(0,255,0))  sera rojo puro de izq a derecha hasta ocupar el 50% del contenedor. Luego se ira degradando hasta 
                llegar al verde
                
    *Para utilizar linear-gradient se utiliza la prop background
    *Si no se le especifica las paradas de color, se distribuiran equitativamente
    *Si no se especifica el gradientDirection, la direccion del gradiente sera de 180º (vertical) por default
  
  */
  .uno {
    background: linear-gradient(180deg, rgb(122, 74, 14) 0%, rgb(245, 62, 113) 50%, rgb(162, 27, 27) 100%);
  }

  .dos {
    background:linear-gradient(90deg,rgb(255,0,0) 50%, rgb(0,255,0)) ;
  }  

  
.tres {
    background-color: hsl(240, 100%, 50%);
  }